html,
body {
    margin: 0;
    padding: 0;
    line-height: 1;
}

*:focus {
    outline: none;
}

a:hover,
input:hover,
button:hover {
    cursor: pointer;
}

label {
    font-size: .8rem;
    color: #fff;
    padding: 0 10px;
}

input[type="text"] {
    border: none;
    padding: .25rem .5rem;
    line-height: 1rem;
    text-align: center;
    width: 2.5rem;
    border-radius: .25rem;
}

h1 {
    font-size: 8rem;
    margin:0;
}

h1 span {
    font-size: 6rem;
    font-weight: 300;
    padding-left: .1em;
}

h2 {
    letter-spacing: 1px;
}

.popover,
#dayTimer {
    font-family: 'Roboto', sans-serif;
}

#canvas {
    width: 100%;
    height: 100%;
}

#configure {
    border: none;
    background: url(../images/icon-clock.png) center center no-repeat;
    background-size: cover;
    line-height: 1rem;
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    top: 1rem;
    left: 1rem;
    z-index: 501;
    opacity: .05;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

#configure:hover {
    opacity: .75;
}

.container {
    text-align: center;
    width: 450px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

#configPanel {
    position: absolute;
    top: -4rem;
    left: 0;
    width: 100%;
    background: rgba(66, 139, 202, 0.72);
    padding: 1rem 1rem 1rem 3.5rem;
    -webkit-transition: top .5s ease;
    transition: top .5s ease;
    z-index: 500;
}

#configPanel.visible {
    display: block;
    top: 0rem;
}

#configPanel.visible+#configure {
    opacity: 1;
}

button#saveTimes {
    padding: .25rem 1rem;
    border: 1px solid #fff;
    background: transparent;
    line-height: 1rem;
    border-radius: .25rem;
    margin-left: 1rem;
    color: #fff;
}
