html,
body {
    margin: 0;
    padding: 0;
    line-height: 1;
}

*:focus {
    outline: none;
}

* {
    box-sizing: border-box;
}

a:hover,
input:hover,
button:hover {
    cursor: pointer;
}

label {
    font-size: .8rem;
    color: #333;
    padding: 0 10px;
}

.radioButtons {
    margin-left: 1em;
}

.radioButtons label {
    padding: 0 10px 0 0;
}

input[type="text"] {
    border: none;
    padding: .25rem 0rem;
    line-height: 1rem;
    text-align: center;
    background: #000;
    color: #ebebeb;
    width: 3.5rem;
    letter-spacing: 1px;
    border-radius: .25rem;
}

input[type="text"].error {
    background: #900;
}

h1 {
    font-size: 8rem;
    margin: 0;
}

h1 span {
    font-size: 6rem;
    font-weight: 300;
    padding-left: .1em;
}

h2 {
    letter-spacing: 1px;
}

.popover,
#dayTimer {
    font-family: 'Roboto', sans-serif;
}

#backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#configure {
    border: none;
    background: url(../images/icon-clock.png) center center no-repeat;
    background-size: cover;
    line-height: 1rem;
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    top: 1rem;
    left: 1rem;
    z-index: 501;
    opacity: .05;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

#configure:hover {
    opacity: .75;
}

.timeContainer {
    text-align: center;
    width: 450px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.yogaSelector {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px 30px 0;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background: rgba(5, 5, 5, 0.99);
    color: #aaa;
    opacity: 0;
    transition: opacity .5s ease;
}

.yogaSelector.visible {
    opacity: 1;
    z-index: 502;
}

.yogaSelector h2 {
    display: block;
    color: #ccc;
    font-size: 1.2em;
    letter-spacing: 2px;
}

.yogaSelector .aStudio {
    padding: 0 15px;
    width: 50%;
    float: left;
}

.yogaSelector .aStudio table {
    width: 100%;
}

.yogaSelector .aStudio table td,
.yogaSelector .aStudio table th {
    padding: 3px 16px 6px 0;
}

.yogaSelector .aStudio table th {
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
    margin-bottom: 12px;
}

.yogaSelector .aStudio table tr.passed {
    color: #333;
}

.yogaSelector .aStudio table tr:first-of-type td {
    padding-top: 10px !important;
}

.yogaSelector .aStudio .instructorPhoto {
    display: none;
    position: absolute;
    right: 120%;
    width: 150px;
    z-index: 1000;
}

.yogaSelector .aStudio .instructor {
    position: relative;
}

.yogaSelector .aStudio .instructor:hover {
    cursor:pointer;
}

.yogaSelector .aStudio .instructor:hover .instructorPhoto {
    display: block;
}

.yogaSelector button {
    padding: 5px 12px;
    background: transparent;
    border-radius: 8px;
}

#configPanel {
    position: absolute;
    top: -4rem;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #666;
    background: rgba(200, 200, 200, 0.25);
    padding: 1rem 1rem 1rem 3.5rem;
    -webkit-transition: top .5s ease;
    transition: top .5s ease;
    z-index: 500;
}

#configPanel.visible {
    display: block;
    top: 0rem;
}

#configPanel.visible+#configure {
    opacity: 1;
}

button#saveTimes {
    padding: .25rem 1rem;
    border: 1px solid #000;
    background: transparent;
    line-height: 1rem;
    border-radius: .25rem;
    margin-left: .5rem;
    letter-spacing: 1px;
    color: #000;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}

button#saveTimes:hover {
    background: #000;
    color: #fff;
}

button#saveTimes:active {
    color: #000;
    background: #fff;
}